@media screen and (max-width: 980px) {
  .common-button {
    font-size: var(--fs-12);
  }

  /* Header Styles */
  header {
    background: #fff;
    border-bottom: 1px solid var(--color-gray-d);
  }

  header .container {
    grid-template-columns: 1fr 1fr;
  }

  header .container > *:not(.logo, .mobile-btn-wrapper) {
    display: none;
  }

  header .logo {
    justify-content: flex-start;
  }

  header .mobile-btn {
    display: block;
  }

  header .mobile-menus {
    display: block;
    position: absolute;
    top: 101%;
    width: var(--ls-full);
    background: #fff;
    box-shadow: 0 1px 3px var(--color-gray-d);
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  header .mobile-menus .nav-lists {
    display: block;
  }

  header .mobile-menus .nav-lists li {
    text-align: center;
    padding: 0;
  }

  header .mobile-menus .nav-lists li a,
  .info li a {
    display: block;
    width: var(--ls-full);
    font-size: var(--fs-16);
    padding: var(--el-medium) 0;
    border-bottom: 1px solid var(--color-gray-d);
  }

  header .mobile-menus .info {
    display: flex;
    justify-content: center;
  }

  /* Landing Section Styles */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.4;
  }

  #main-section .landing-text-box h1 {
    text-shadow: 1px 1px 1px var(--color-gray-2);
  }

  #main-section .landing-text-box p {
    width: var(--ls-1-2);
  }

  /* Slider Section Styles */
  .silder-section .swiper-slide > div {
    height: 280px;
  }

  .silder-section .silder-text h4 {
    font-size: var(--fs-20);
  }

  .silder-section .slider-nav {
    width: 45px;
    height: 45px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    svg {
      height: 40%;
      width: 40%;
    }
  }

  /* Review Section Styles */
  .review-section .review-frame {
    padding: var(--el-normal);
  }

  .review-section .review-item {
    padding: var(--el-medium);
  }

  .review-section .review-item p {
    -webkit-line-clamp: 3;
  }

  .insta-section .insta-wrapper {
    column-gap: var(--el-small);
  }

  .insta-section .insta-info h4 {
    font-size: var(--fs-name);
  }
}

@media screen and (max-width: 786px) {
  html {
    font-size: 14px;
  }

  .section {
    padding: var(--el-section-small);
  }

  .container {
    padding: 0 var(--el-medium);
  }

  /* Meet Section Styles */
  .meet-section .meet-wrapper {
    flex-direction: column;
    row-gap: var(--el-wide);
  }

  .meet-section .meet-text-box,
  .meet-section .meet-text-box p,
  .meet-section .meet-image-box {
    width: var(--ls-full);
  }

  /* Features Section Styles */
  .feature-section .features {
    flex-direction: column;
    align-items: center;
  }

  .feature-section .feature {
    width: 60%;
  }

  /* Slider Section Styles */
  .silder-section .slider-nav {
    display: none;
  }

  .silder-section .swiper-slide {
    flex-direction: column;
  }

  .silder-section .swiper-slide > div {
    width: 80%;
    margin: auto;
  }

  .silder-section .silder-text {
    align-items: center;
    text-align: center;
  }

  /* Offers Section Styles */
  .offers-section .product-frame {
    width: var(--ls-1-2);
  }

  /* Review Section Styles */
  .review-section .review-frame {
    width: var(--ls-1-2);
  }

  .insta-section .insta-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 501px) {
  .section {
    padding: var(--el-section-mobile);
  }

  #main-section .landing-text-box {
    text-align: center;
  }

  #main-section .landing-text-box h1 {
    font-size: 1.8rem;
  }

  #main-section .landing-text-box p {
    width: 80%;
    margin: auto;
  }

  .overlay {
    opacity: 0.7;
  }

  /* Meet Section Styles */

  .meet-section .meet-text-box p {
    width: var(--ls-full);
    font-size: var(--fs-16);
  }

  .meet-section .meet-image-box {
    column-gap: var(--el-normal);
  }

  .meet-section .meet-text-box span {
    font-size: var(--fs-16);
  }

  .meet-section .meet-left-image {
    row-gap: var(--el-normal);
  }

  /* Features Section Styles */
  .feature-section .feature {
    width: 100%;
  }

  /* Silder Section Styles */
  .silder-section .swiper-slide > div {
    width: 90%;
  }

  /* Offers Section Styles */
  .offers-section .product-frame {
    width: var(--ls-full);
  }

  /* Review Section Styles */
  .review-section .review-frame {
    width: var(--ls-full);
  }

  .review-section .insta-grid-2 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  /* Insta Section Styles */
  .insta-section .insta-wrapper {
    grid-template-columns: 1fr;
    row-gap: var(--el-medium);
  }

  .insta-section .insta-info {
    /* flex, grid에서 사용할 수 있는 요소의 순서를 정함 */
    order: 1;
  }

  .insta-section .insta-left-image {
    order: 2;
  }

  /* Footer Section Styles */
  footer .footer-upper {
    flex-direction: column;
  }

  footer .footer-logo {
    margin-bottom: var(--el-medium);
  }

  footer .footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: var(--el-normal);
  }

  footer .footer-sns {
    column-gap: 0.5rem;
  }

  footer .footer-sns li a {
    padding: 0;
  }

  footer .footer-lower {
    flex-direction: column;
    row-gap: var(--el-normal);
    align-items: center;
    text-align: center;
  }
}
