/* Landing Section Styles */
#main-section {
  padding: 0;
  width: var(--ls-full);
  height: 100vh;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-section img {
  width: var(--ls-full);
  height: var(--ls-full);
  min-width: 1280px;
  position: absolute;
  object-fit: cover;
}

#main-section .landing-text-box {
  z-index: 10;
}

#main-section .landing-text-box h1 {
  font-size: var(--fs-title);
  line-height: 1.4;
  font-weight: var(--fw-400);
}

#main-section .landing-text-box p {
  padding: var(--el-medium) 0;
  width: var(--ls-1-3);
}

/* Meet Section Styles */
.meet-section .meet-wrapper {
  width: var(--ls-full);
  height: auto;
  display: flex;
  align-items: center;
}

/* Meet Box Text Styles */
.meet-section .meet-text-box {
  width: var(--ls-1-2);
}

.meet-section .meet-text-box h4 {
  font-size: var(--fs-12);
  font-weight: var(--fw-400);
}

.meet-section .meet-text-box p {
  font-size: var(--fs-18);
  line-height: 1.8;
  width: 80%;
  padding: var(--el-wide) 0 var(--el-medium);
  color: var(--color-gray-3);
  position: relative;
}

.meet-section .meet-text-box p:after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--color-gray-3);
  left: 0;
  bottom: 0;
  position: absolute;
}

.meet-section .meet-text-box span {
  font-size: var(--fs-18);
  padding-top: var(--el-medium);
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.meet-section .meet-text-box span:before {
  content: '';
  width: 30px;
  height: 1px;
  background: var(--color-gray-3);
  display: block;
}

/* Meet Box Image Styles */
.meet-section .meet-image-box {
  width: var(--ls-1-2);
  display: flex;
  align-items: center;
  column-gap: var(--el-medium);
}

.meet-section .meet-left-image {
  width: var(--ls-1-2);
  display: flex;
  flex-direction: column;
  row-gap: var(--el-medium);
  align-items: flex-end;
}

.meet-section .meet-right-image {
  width: var(--ls-1-2);
}

.meet-section .meet-image-box img {
  width: var(--ls-full);
  border-radius: 0.25rem;
}

.meet-section .meet-image-box img:nth-child(2) {
  width: 80%;
}

/* Features Section Styles */
.feature-section .features {
  width: var(--ls-full);
  display: flex;
  justify-content: space-around;
}

.feature-section .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--el-wide);
}

.feature-section .feature h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
  padding: var(--el-medium) 0;
}

.feature-section .feature p {
  font-size: var(--fs-small-text);
  text-align: center;
}

/* Slider Section Styles */
.silder-section .container {
  position: relative;
}

.silder-section .swiper-slide {
  display: flex;
  width: var(--ls-full);
}

.silder-section .swiper-slide > div {
  width: var(--ls-1-2);
  height: 320px;
  padding: 0 var(--el-medium);
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
}

.silder-section .swiper-slide > div > img {
  width: var(--ls-full);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.silder-section .slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--el-medium);
}

.silder-section .swiper-slide.swiper-slide-active .silder-text {
  animation: show-up 0.5s 1;
  transform: translateY(40px);
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes show-up {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.silder-section .silder-text h4 {
  font-size: 1.8rem;
  font-weight: var(--fw-400);
}

.silder-section .silder-text p {
  font-size: var(--fs-small-text);
  width: 90%;
}

.silder-section .slider-nav {
  background: #fff;
  color: var(--color-black);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 2px var(--color-gray-3);
}

.swiper-button-next,
.swiper-button-prev {
  svg {
    height: 50%;
    width: 50%;
  }
}

.swiper-button-next {
  right: 1.5rem !important;
}

.swiper-button-prev {
  left: 1.5rem !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -2.5rem;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #000;
}

/* Offers Section Style */
.offers-section .products {
  display: flex;
  flex-wrap: wrap;
}

.offers-section .product-frame {
  width: var(--ls-1-3);
  padding: var(--el-medium);
}

.offers-section .product-img {
  width: var(--ls-full);
  height: 220px;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.offers-section .product-frame img {
  width: var(--ls-full);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.offers-section .product-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--el-normal);
  margin-top: var(--el-normal);
}

.offers-section .product-text h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
}

.offers-section .product-text strong {
  font-size: var(--fs-18);
}

.offers-section .product-text p {
  padding: var(--el-medium);
  font-size: var(--fs-small-text);
}

/* Review Section Styles */
.review-section {
  background: url(../images/review-background.jpeg) no-repeat center center /
    cover;
}

.review-section .reviews {
  display: flex;
  flex-wrap: wrap;
}

.review-section .review-frame {
  width: var(--ls-1-3);
  padding: var(--el-medium);
}

.review-section .review-item {
  background: #fff;
  padding: var(--el-wide);
  border-radius: 0.25rem;
  text-align: center;
}

.review-section .review-item p {
  font-size: var(--fs-small-text);
  margin-bottom: var(--el-medium);
  /* 본문 네 줄까지만 표시 후 축약 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.review-section .review-writer {
  display: flex;
  flex-direction: column;
  row-gap: var(--el-small);
  align-items: center;
}

.review-section .review-writer img {
  width: 5rem;
  border-radius: 50%;
}

.review-section .review-writer h4 {
  font-size: var(--fs-name);
  font-weight: var(--fw-400);
}

.review-section .review-writer em {
  font-style: normal;
  font-size: (--fs-small-text);
}

/* Insta Section Styles */
.insta-section .insta-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.insta-section .insta-image {
  display: flex;
  justify-content: space-between;
  column-gap: 0.25rem;
}

.insta-section .insta-image > div {
  width: calc(var(--ls-1-2) - 0.25rem);
}

.insta-section .insta-image img {
  width: var(--ls-full);
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  object-fit: cover;
}

.insta-section .insta-left-image .insta-grid-1 {
  align-items: center;
  display: flex;
}

.insta-section .insta-right-image .insta-grid-1 {
  display: flex;
  align-items: flex-end;
}

.insta-section .insta-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: var(--el-normal);
}

.insta-section .insta-info h4 {
  font-size: var(--fs-title);
  font-weight: var(--fw-400);
}

.insta-section .insta-info .insta-id {
  font-size: var(--fs-small-text);
  display: flex;
  align-items: center;
  column-gap: var(--el-small);
}

.insta-section .insta-info .insta-id i {
  font-size: var(--fs-20);
}

/* Footer Section Styles */
footer {
  padding: 3rem 0;
  width: var(--ls-full);
  height: auto;
}

footer .footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-logo {
  width: 100px;
}

footer .footer-logo img {
  width: var(--ls-full);
}

footer .footer-info {
  display: flex;
}

footer .footer-info > ul {
  display: flex;
}

footer .footer-nav a {
  font-size: var(--fs-small-text);
  padding: var(--el-medium);
}

footer .footer-sns li {
  padding-left: 1rem;
}

footer .footer-sns li a {
  width: 20px;
  display: flex;
  align-items: center;
}

footer .footer-sns li a img {
  width: var(--ls-full);
}

footer .footer-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-3);
  margin: var(--el-medium) 0;
}

footer .footer-lower {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-small-text);
  align-items: center;
}

footer .footer-lower a {
  text-decoration: underline;
}
